<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/GJ_deleteIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,96}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_extendedIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,92}</string>
			<key>spriteSourceSize</key>
			<string>{94,92}</string>
			<key>textureRect</key>
			<string>{{98,0},{94,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_filterIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{100,94}</string>
			<key>spriteSourceSize</key>
			<string>{106,100}</string>
			<key>textureRect</key>
			<string>{{194,0},{100,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_smallModeIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{93,92}</string>
			<key>spriteSourceSize</key>
			<string>{94,92}</string>
			<key>textureRect</key>
			<string>{{98,94},{93,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_sortIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{102,90}</string>
			<key>spriteSourceSize</key>
			<string>{108,96}</string>
			<key>textureRect</key>
			<string>{{193,96},{102,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_trashBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{160,163}</string>
			<key>spriteSourceSize</key>
			<string>{164,170}</string>
			<key>textureRect</key>
			<string>{{0,188},{160,163}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/folderIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-2}</string>
			<key>spriteSize</key>
			<string>{152,120}</string>
			<key>spriteSourceSize</key>
			<string>{160,124}</string>
			<key>textureRect</key>
			<string>{{165,188},{152,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gj_discordIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{122,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{165,310},{122,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gj_folderBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,9}</string>
			<key>spriteSize</key>
			<string>{133,109}</string>
			<key>spriteSourceSize</key>
			<string>{138,126}</string>
			<key>textureRect</key>
			<string>{{0,350},{133,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BackportSheet-uhd.png</string>
		<key>size</key>
		<string>{317,459}</string>
		<key>textureFileName</key>
		<string>geode.loader/BackportSheet-uhd.png</string>
	</dict>
</dict>
</plist>