<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/GJ_deleteIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_extendedIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,23}</string>
			<key>textureRect</key>
			<string>{{26,0},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_filterIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{26,24}</string>
			<key>spriteSourceSize</key>
			<string>{26,25}</string>
			<key>textureRect</key>
			<string>{{51,0},{26,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_smallModeIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,23}</string>
			<key>textureRect</key>
			<string>{{26,25},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_sortIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,24}</string>
			<key>spriteSourceSize</key>
			<string>{27,24}</string>
			<key>textureRect</key>
			<string>{{51,26},{27,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/GJ_trashBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,42}</string>
			<key>spriteSourceSize</key>
			<string>{41,42}</string>
			<key>textureRect</key>
			<string>{{0,50},{41,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/folderIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,31}</string>
			<key>spriteSourceSize</key>
			<string>{40,31}</string>
			<key>textureRect</key>
			<string>{{44,52},{40,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gj_discordIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{44,85},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gj_folderBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{34,29}</string>
			<key>spriteSourceSize</key>
			<string>{34,31}</string>
			<key>textureRect</key>
			<string>{{0,93},{34,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BackportSheet.png</string>
		<key>size</key>
		<string>{84,122}</string>
		<key>textureFileName</key>
		<string>geode.loader/BackportSheet.png</string>
	</dict>
</dict>
</plist>